.calculadora {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calculadora input {
background:rgb(7, 7, 7);
color: rgb(255, 255, 255);
border-radius: 9px;
padding: 5px;
}
#sptotal {
    background: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    
}
.calculadora button {
margin-top: 10px;
background: rgb(0, 0, 0);
color: rgb(255, 255, 255);
padding: 3px 13px;

}
.calculadora button:hover {
    background: white;
    color: black;
    cursor: pointer;
}
#splistameses {
    text-align: start;
    border-style:groove;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    color: rgb(255, 255, 255);
    background: rgb(8, 8, 8);
    margin-top: 13px;
}
